<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Jornadas Médicas 2025</title>
</head>

<body style="margin:0; padding:0; background-color:#13322c;">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" style="padding: 20px 0;">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600"
                    style="background-color:#ffffff; border-radius:15px; padding:20px; font-family:Arial, sans-serif;">
                    <tr>
                        <td align="center">
                            <img src="https://pub-e3a2864f1cbb484f8a4f766ebd3b49cd.r2.dev/jornadas2025/email_assets/favicon.ico"
                                alt="CAE LOGO" width="100" height="100" style="display:block;">
                        </td>
                    </tr>
                    <tr>
                        
                        <td>
                            <hr style="border:none; border-top:1px solid #ccc; margin:20px 0;">
                            <p style="font-weight: bold; margin: auto; width: fit-content;">{{acronimo}} {{nombre}} {{apellido}}</p>
                            <p style="font-size:16px; line-height:1.5; text-align:justify;">
                                El <strong>Centro de Alta Especialidad Dr. Rafael Lucio</strong> agradece su valiosa
                                participación dentro de las próximas <strong>Jornadas Médicas 2025</strong> con tema
                                principal <em>"DESAFIOS EN SALUD DESDE EL TERCER NIVEL DE ATENCIÓN Y EL USO DE LA
                                    INTELIGENCIA ARTIFICIAL EN EL CAE"</em>, dentro de la celebración del <strong
                                    style="color: red;">{{aniversario}} aniversario</strong> de este Hospital, llevados a cabo los
                                días 27, 28 y 29 de Noviembre en la Ciudad de Xalapa, Ver.
                            </p>
                            <p style="font-weight: bold; font-size:16px;">
                                Módulo Seleccionado: <span style="font-weight: 100;">{{modulo}}</span>
                                <br>
                                Costo: <span style="font-weight: 100;">${{costo}}</span>
                            </p>
                            <p style="font-size:20px; margin: auto; display: flex; justify-content: center; text-decoration: underline;"><strong>SU PRE-REGISTRO HA SIDO COMPLETADO</strong></p>
                            <p style="font-size:16px; line-height:1.5; text-align:justify;">
                                En los próximos días recibirá un correo electrónico con la clabe interbancaria a la cual deberá realizar el depósito correspondiente al módulo seleccionado así como las indicaciones para completar su registro y asegurar su lugar en el evento.
                            </p>
                            <p style="font-size:16px; line-height:1.5; text-align:justify;">
                                Adjunto a este correo se encuentra su código QR el cual deberá presentar en el evento para registrar su asistencia.
                            </p>
                            <p style="font-size:14px; color:#c03931; text-align:justify;">
                                Si ha recibido este mensaje por error; es probable que alguien haya brindado su
                                dirección de correo
                                electrónico sin su consentimiento, favor de desecharlo permanentemente y comunicarlo al
                                remitente.
                                Está estrictamente prohibida cualquier distribución, edición no autorizada, o copia de
                                este mensaje.
                            </p>

                            <table width="100%" style="margin-top:20px; text-align:center;">
                                <tr>
                                    <td><img src="https://pub-e3a2864f1cbb484f8a4f766ebd3b49cd.r2.dev/jornadas2025/email_assets/gob_ver.png"
                                            alt="Gobierno de Veracruz" height="50"></td>
                                    <td><img src="https://pub-e3a2864f1cbb484f8a4f766ebd3b49cd.r2.dev/jornadas2025/email_assets/sesver_logo.png"
                                            alt="SESVER" height="50"></td>
                                    <td><img src="https://pub-e3a2864f1cbb484f8a4f766ebd3b49cd.r2.dev/jornadas2025/email_assets/imssb_logo.png"
                                            alt="IMSS" height="50"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>